@import "../../../../styles/colors.module.scss";

.header {
  background-color: black;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1.2rem 0;
  gap: 1rem;
}
.headerLogo {
  width: 12rem;
  cursor: pointer;
}
.headerBtn:hover {
  border-color: $lightRed;
  color: $lightGray;
  background-color: transparent;
}

@media (max-width: 575px) {
  .headerContainer {
    padding: 1.2rem 1rem;
  }
}
@media (max-width: 380px) {
  .headerContainer {
    justify-content: center;
  }
}
